.keyboardContainer {
  max-width: 800px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.buttonsContainer {
  display: flex;
  justify-content: space-around;
}

.keyboard-button {
  flex: 1;
  background: rgb(255, 247, 247);
  border: none;
  padding: 10px;
  transition: background-color 150ms ease-in-out;
}

.keyboard-button:focus {
  outline: 0;
}

.keyboard-button.pressed {
  background-color: rgb(255, 134, 134);
}
